body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  background-color: aliceblue;
}

.text-center {
  text-align: center;
  font-size: 2.5rem;
}
p {
  font-size: 1.1rem;
}

p i:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #2e993f;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  display: inline-block;
}
b a {
  color: #2e993f;
  padding-left: 10px;
  border-left: 7px solid transparent;
  margin: 10px 0;
}
b a:hover {
  text-decoration: underline;
  border-left-color: #c92e32;
}
b a:visited {
  color: red;
}
ul {
  list-style-type: square;
}
ul li {
  padding: 10px;
  border-bottom: 6px solid rgb(220, 219, 219);
  font-size: 1.1rem;
}
ul li:hover {
  border-color: #c92e32;
  color: #2e993f;
  font-weight: bold;
  cursor: pointer;
}
h2 {
  font-size: 1.6rem;
  margin-top: 30px;
  text-transform: uppercase;
  background-color: #2e993f;
  color: white;
  padding: 10px 20px;
}
h2 a {
  display: none;
}
h3 a {
  text-transform: uppercase;
  text-decoration: underline;
  padding: 10px;
  padding-left: 0;
}
h3 a:hover {
  background-color: #2e993f;
  color: black;
}
#copyright {
  font-weight: bold;
  font-style: italic;
}
a,
a:visited {
  text-decoration: none;
}
